.card {
  background-color: #376058;
  border: 1px solid #f9fac2;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}